rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // WARNING: These rules are permissive and intended for development ONLY.
    // Any authenticated user can read and write to the entire database.
    
    function isSignedIn() {
      return request.auth != null;
    }

    // Allow read and write access to any collection for any signed-in user.
    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}
